/*
|----------------------------------------------
| Components
|----------------------------------------------
*/

// cards
.cards{
   display: flex;
   align-items: center;
   align-content: center;
   justify-content:left;
   flex-flow:row wrap;    
}

.cards li{
    width: 100%;    
    margin: 7px;
    text-align: center
}