/*
|----------------------------------------------
| Components
|----------------------------------------------
*/

//**
// lista
//**
.lista {
  //padding: 50px;
  &__item {
    @extend p;
    margin-top: 7px;

  }
  &__desc {
    font-size: $t-m;
    font-family: $ft1;
    margin-bottom: 15px;
  }
}
