/*
|----------------------------------------------
| query_ max 1024
|----------------------------------------------
*/

@media only screen and (max-width:1024px) {
 	
/*// removendo a margin do navbar
	.navbar-collapse{
		margin-left:0 $imp
	}

nav.navbar.shrink {  
  	.menu-link{
		color:$cl6 $imp;
	}
	
	.midia{
		width:38% $imp;
	}
	.midia__item{
		margin-right:7px $imp 
	}
	.midia__link{
		color: $cl2 $imp;
		font-size: .7em;
	}
	
}
	
 .navbar-default, .navbar {
		background: $cl1 $imp;
		 a.menu-link{
			color: $cl2 $imp;
		}

		.navbar-toggle{
			border:0;
			display: block;	
			margin-right: 0;
		}

		.navbar-toggle:hover,  .navbar-toggle:focus{
			background: transparent;
		}

	 
	 	// icones do menu
		.icon-bar{
			background-color:$cl2 $imp;
		}
	 	// borda logo abaixo do menu
		.navbar-collapse{
			border:0!important;
		}
	}

  // background do menu		
  .navbar-nav{
	background: $cl1;
	float: none!important;
	!*margin: 7.5px -15px;*!
	//margin: 7.5px 50px 7.5px -15px
}		 
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
		&:hover{
			color:red!important
		}
    }
	
	
	//dropdown
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color:$cl1;
		white-space: nowrap;
	}
    .navbar-header {
        float: none;
    }    
    .navbar-collapse.collapse {
        display: none!important;
    }
   
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    !* since 3.1.0 *!
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	*/
}

/*
|----------------------------------------------
| _query max 767
|----------------------------------------------
*/
@media only screen and (max-width:767px) {


    /*
	/!**
	// header
	/!**

	!* Logo Responsivo ( Redimeciona )*!
	.navbar-brand{
		@include size(116px,50px)
		margin:5px 0 0 0;
		img{
			@include size(116px,50px)
		}
	}



	/!**
	// content
	/!**

	!* Inner Content Responsivo *!
	.cont{
		padding-top:100px;
		.tits{
			margin-top: 0;
			.tit-nivel2{
				color: $cl2;
				//border-bottom:1px solid $cl2;
			}
		}
	}



	/!**
	// footer
	/!**

	!* Rodapé Responsivo*!
	.rdp{
		.iframe, .menu{
			display: none;
		}
	}


	!* Outros Estilos*!

	.area .input{
		margin-bottom: 7px ;
	}

	.prev1, .next1, .prev, .next, .img-content{
		display: none!important;
	}

	.form-contato{
		margin: 0;
	}


	// img's responsivas
	.img{
		width: 100%;
		height: auto;
		display: block
	}
    */



}

/*
|----------------------------------------------
| _query max 600
|----------------------------------------------
*/
@media only screen and (max-width:600px) {



}


/*
|----------------------------------------------
| _query max 480
|----------------------------------------------
*/
@media only screen and (max-width: 480px){



}

/*
|----------------------------------------------
| _query max 320
|----------------------------------------------
*/
@media only screen and (max-width:320px) {


}